<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" type="text/css" />
    <title>About</title>
  </head>
  <body>
    <h1>Tarja Turunen</h1>

    <p>Tarja Soile Susanna Turunen Cabuli (IPA: ['tɑrjɑ…'turunen]; Kitee, 17 de agosto de 1977) é uma cantora e compositora finlandesa que ficou mundialmente conhecida como a primeira vocalista e membro fundadora da banda de metal sinfônico Nightwish, entre 1996 e 2005. Atualmente ela segue em carreira solo e é considerada uma das melhores cantoras de seu estilo, sendo reconhecida e também tendo recebido a designação por Doro Pesch como uma das sucessoras ao título de "Rainha do Metal". Tarja ainda colaborou em carreira solo com grandes nomes da música como o compositor alemão vencedor do Óscar, Hans Zimmer, as bandas Scorpions e Angra, o músico Chad Smith do Red Hot Chilli Peppers, Within Temptation, a atual vocalista do Nightwish, Floor Jansen, Doro Pesch, Mike Oldfield e também o brasileiro Kiko Loureiro do Megadeth, ex-membro do Angra.
    <br/>
    <br/>
    Tarja começou sua carreira musical em 1996 quando fundou a banda Nightwish ao lado de Tuomas Holopainen e Emppu Vuorinen; ela cantou na banda até 2005, quando foi demitida em uma carta aberta à imprensa. Já em dezembro daquele ano, Tarja iniciou uma turnê de concertos natalinos que se estendeu até o fim de 2006, quando ela lançou seu primeiro álbum solo, um projeto natalino chamado Henkäys Ikuisuudesta. Em 2007, Tarja lançou um novo disco, My Winter Storm, seu primeiro trabalho solo de metal que foi sucedido por What Lies Beneath em 2010. Mais tarde em 2013, é lançado seu quarto disco de estúdio, Colours in the Dark, e em 2015 o clássico Ave Maria - En Plein Air. No ano seguinte, Tarja lançou dois álbuns de estúdio, The Brightest Void e The Shadow Self, cujas temáticas e conceitos são interligados.
    <br/>
    <br/>    
    Tarja é a cantora mais popular de seu país, enunciada "A Voz da Finlândia" pela primeira mulher ex-presidente do país, Tarja Halonen. Ela é constantemente chamada para participações na TV ou para julgar uma competição local. Ela também é uma das cantoras mais populares de seu gênero na Europa e já foi indicada para seis Emma Awards, sendo também pré-nomeada para o Grammy Awards por um trabalho conjunto com o artista Schiller em 2009. Seu perfil vocal se enquadra em soprano lírico, com amplitude de 3,5 oitavas.</p>

    <h3>Vida pessoal</h3>
    <p>
    Tarja nasceu no pequeno vilarejo finlandês de Puhos, em Kitee, única filha entre três irmãos, e desde criança sempre apresentou interesse pela música; sua mãe foi a primeira a notar isso, quando, em uma festa da família, a garotinha de apenas três anos mostrou sua voz para um público pela primeira vez, com a canção "Enkeli Taivaan" (Anjo do Céu, em português). Depois disso, sua mãe decidiu colocá-la no coral da paróquia que a família frequentava, onde ela podia praticar regularmente e ter aulas adicionais em um grupo infantil. Aos seis anos, ela começou a ter aulas particulares de piano erudito, e apesar de morar a vinte quilômetros do local das aulas, ela contava com o apoio de seus pais, que faziam questão que sua filha não faltasse às lições.
    <br/>
    <br/>
    Na escola primária, Tarja era costumeiramente convidada a cantar em pequenas festas escolares, por isso, nessa época, a cantora chegou a sofrer bullying por parte das meninas de sua escola, por sempre tirar notas altas nos testes e ser uma das alunas preferidas dos professores; com isso, ela se tornou uma criança mais introvertida, tímida e a maioria de seus amigos eram garotos, os quais guardavam por ela admiração e tratavam-na com respeito.
    <br/>
    <br/>
    Seus grandes ídolos na infância eram cantores de soul como Whitney Houston e Aretha Franklin, e nessa época sua família achava que seria o caminho seguido pela garota, porém, aos quinze anos, Tarja mudou-se para Savonlinna, onde estudou na Savonlinna Senior Secondary School of Art and Music, onde passou a ter aulas de canto lírico e seguiu focando-se nesse estilo. No mesmo ano, ela se apresentou pela primeira vez para mais de mil pessoas como solista em um concerto de Natal.
    <br/>
    <br/>
    Aos dezoito anos, mudou-se novamente, agora para a cidade de Kuopio, onde ingressou na Academia Sibelius de Artes e pôde desenvolver realmente seus dotes musicais, aperfeiçoando-se no canto lírico e música de câmara.
    <br/>
    <br/>
    No dia 1 de janeiro de 2003, Tarja casou-se com o empresário argentino Marcelo Cabuli, o qual já conhecia desde sua primeira excursão pela América Latina em 2000; eles vivem juntos até hoje. Em dezembro de 2012, Tarja postou duas fotos em sua conta pessoal no Facebook, e em uma delas Tarja aparecia segurando um pequeno bebê, e na outra, aparecia ao lado de um carrinho de bebê. Imediatamente surgiram rumores de que a menina seria filha de Tarja e Marcelo, e poucos dias depois a assessoria de imprensa da cantora confirmou a notícia, revelando que Tarja manteve a gravidez em segredo até o fim, e que a garota, Naomi, nasceu em agosto daquele ano.
    </p>
    <h3>Carreira musical</h3>
    <h5>Tarja e o Nightwish</h5>
    <p>Em 1996, Tarja tornou-se um dos membros-fundadores do Nightwish, quando seu colega de classe, Tuomas Holopainen, a convidou para participar de seu projeto acústico, então, Tarja, Tuomas e o guitarrista Emppu Vuorinen gravaram uma demo intitulada Nightwish, da qual foi retirado o nome da banda. No mesmo ano, ela cantou pela primeira vez no Festival de Ópera de Savonlinna, onde fazia parte do coral, interpretando algumas obras de Wagner e Verdi.
    <br/>
    <br/>
    Em 1997 é lançado o primeiro álbum da banda, Angels Fall First, e foi quando Tarja fez seu primeiro concerto com o grupo em 31 de dezembro, em sua cidade natal. A banda porém, só ficou internacionalmente famosa com o lançamento do álbum Oceanborn, em 1998. Tarja foi solista de vários espetáculos bem-sucedidos de música lírica, mas continuou a gravar e fazer apresentações com o Nightwish pelos anos de 2000 e 2001, período de lançamento do álbum Wishmaster e do EP Over the Hills and Far Away.
    <br/>
    <br/>
    Nessa época, Tarja deixou a Academia Sibelius e mudou-se para a Alemanha, onde passou a frequentar a Universidade de Música de Karlsruhe, no sul do país. Enquanto esteve lá, ela gravou os vocais para o álbum Century Child, além de uma participação no também bem-sucedido projeto Infinity do baixista argentino Beto Vázquez.
    <br/>
    <br/>
    Em 2002, a cantora excursionou pela América do Sul com o concerto Noche Escandinava I, posteriormente fazendo uma longa turnê mundial para a promoção de Once, o então novo álbum do Nightwish. Após esse período, Tarja voltou a Karlsruhe e o Nightwish fez um pequeno hiato. Após um concerto na Hartwall Areena de Helsinque, lhe foi entregue uma carta aberta, assinada pelos outros integrantes do grupo, na qual ela foi demitida da banda.
    <br/>
    <br/>
    Tal fato fez com que ocorressem várias discussões sobre o motivo da demissão, e Tarja então decidiu dar seu parecer sobre a discussão em duas conferências de imprensa, a primeira em Helsinque e a segunda em Berlim. As maiores especulações eram sobre seu marido, Marcelo, acusado de manipulador e de ser o principal motivo da demissão de Tarja. Marcelo, então, respondeu a mais de cento e cinquenta perguntas enviadas por fãs sobre toda essa questão, dando sua opinião pessoal sobre todas as acusações, explicando que a verdadeira razão da demissão foi o fato de Tuomas Holopainen ser apaixonado pela cantora, que nunca o correspondeu.
    </p>
    <h5>Carreira Solo</h5>
    <p>
    O primeiro lançamento solo de Tarja foi um single natalino em 2004, "Yhden Enkelin Unelma", que chegou a Disco de Platina na Finlândia e ao primeiro lugar nas paradas musicais tanto em 2004 quanto em 2005.
    <br/>
    <br/>
    Após sua demissão do Nightwish, Tarja ficou em pausa apenas durante um mês em Buenos Aires, pois já em dezembro retomou sua carreira com uma turnê natalina que passou por quatro países da Europa: Finlândia, Alemanha, Espanha e Romênia, onde neste último foi acompanhada pela Orquestra Filarmônica de Sibiu. E 2006 não foi um ano de pausa para a cantora, que participou do álbum solo de seu irmão, Timo Turunen, e lançou seu primeiro álbum independente, um disco natalino chamado Henkäys Ikuisuudesta. O disco foi muito bem aceito, ganhando certificado de Platina e chegando a segunda posição das paradas finlandesas. Uma turnê promocional foi realizada entre novembro e dezembro pela Finlândia, com dois concertos especiais na Rússia. A apresentação na cidade de Lahti teve lotação esgotada e foi transmitida ao vivo pela emissora YLE TV2, a audiência foi estimada em trinta por cento em horário nobre, o que corresponde a mais de quatrocentos e cinquenta mil espectadores.
    <br/>
    <br/>
    Ainda em maio, Tarja começou as gravações do seu primeiro álbum solo de metal, My Winter Storm, nos estúdios Grouse Lodge, no interior da Irlanda, contando com a ajuda de um grupo de compositores e músicos como Doug Wimbish e Earl Harvin. A produção do álbum levou a cantora aos estúdios do famoso compositor de trilhas sonoras, Hans Zimmer, em Los Angeles, onde o álbum ganhou seus últimos arranjos para, enfim, poder ser lançado em 19 de novembro de 2007 na Europa e 2 de janeiro de 2008 na América do Sul.
    <br/>
    <br/>
    A turnê mundial que promoveu o álbum começou em 25 de novembro de 2007 por Berlim, na Alemanha, e ainda naquele ano Tarja e sua banda passaram por outros oito países. Tarja excursionou durante todo o ano de 2008, e em agosto, ela se apresentou pela América Latina, passando pelo Brasil, com datas nas cidades de São Paulo, Curitiba, Porto Alegre, Fortaleza, Belo Horizonte e Rio de Janeiro, e em outros países como México, Chile, Colômbia e Argentina, contando com a participação do guitarrista brasileiro Kiko Loureiro. Durante essa turnê, Tarja apresentou a música "Enough", que até então não havia sido gravada em estúdio, e foi lançada como single mais tarde. No final de 2008, Tarja retorna à Europa para novos concertos e também lança um novo EP, intitulado The Seer, que além da participação da veterana Doro Pesch em um dueto na música título, conta também com várias versões das músicas já encontradas no álbum My Winter Storm.
    <br/>
    <br/>
    A cantora finaliza o ano como convidada especial no concerto de comemoração aos vinte e cinco anos de carreira de Doro na Alemanha, interpretando as canções "The Seer" e "Walking with the Angels", esta última também fazendo parte do álbum Fear no Evil, que Doro lançou no ano seguinte. Em fevereiro de 2009, Tarja anunciou em seu website o título de seu novo álbum: What Lies Beneath, no qual ela trabalhou desde então, sempre mantendo o público atualizado quanto ao processo de produção através de um blog que ela criou especificamente para isso. Em 19 de julho de 2010, foi feito o primeiro lançamento relacionado ao novo material, um single chamado "Falling Awake", com lançamento limitado em mil cópias para o Reino Unido; o principal single, "Until My Last Breath", foi lançado mundialmente em 16 de agosto.
    <br/>
    <br/>
    O álbum completo saiu em setembro de 2010, mas já em junho Tarja havia dado início a sua nova turnê mundial se apresentando em uma série de festivais na Europa, e rapidamente marcou seus próprios concertos, realizados também na Europa entre outubro e dezembro daquele ano, com mais datas realizadas na Europa e na América Latina em março, abril e maio de 2011. Ainda em 2011, Tarja participou de uma série de festivais de metal na Europa e esteve ao lado da banda Angra no Rock in Rio no dia 25 de setembro. A última série de concertos da turnê aconteceu entre janeiro e abril de 2012, e em agosto Tarja lançou seu primeiro DVD solo, Act I: Live in Rosario.
    <br/>
    <br/>
    Em novembro de 2012, Tarja anunciou que já havia começado a gravar os vocais para seu álbum seguinte, Colours in the Dark, que foi lançado na Europa em 30 de agosto de 2013 através da gravadora earMUSIC, sendo que, pouco tempo depois, Tarja divulgou as primeiras datas da turnê promocional, que começou em outubro na República Checa.
    <br/>
    <br/>
    Mais tarde naquele mesmo ano, Tarja participou da canção "Paradise (What About Us?)" da banda holandesa Within Temptation, que foi lançada como primeiro single do álbum Hydra, ganhando também posteriormente uma versão própria de Tarja, que fora incluída no álbum The Brightest Void, lançado mundialmente em 3 de junho de 2016. Não obstante, Tarja anunciou que The Brightest Void serviria como um prelúdio para o lançamento principal, The Shadow Self, e que embora ambos os trabalhos mantenham uma certa conexão e partilhem da mesma temática, cada um age de forma individual.
    <br/>
    <br/>
    Em janeiro de 2020 Tarja Turunen realizou dois shows, em Praga (República Checa) e Bucareste (Romênia), onde reuniu músicas de toda sua carreira solo, intitulado "The Best of Tarja: A Night to Remember" contou com mais de 16 músicos, entre eles Doug wimbish e o brasileiro Rafael Bittencourt (Angra), e será lançado no formato DVD.
    </p>
    <br/>
    <br/>
    <a href="/">Homepage</a> <br/>
    <a href="/works">Works</a><br/>
    <a href="/gallery">Gallery</a>
  </body>
</html>