<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" type="text/css" />
    <title>Gallery</title>
  </head>
  <body>
    <h1>Tarja Turunen Photos</h1>

    <div>
        <img src="./images/tt01.jpg"  alt="Tarja Photo 001"/>
    </div>

    <div>
        <img src="./images/tt02.jpg"  alt="Tarja Photo 002"/>
    </div>

    <div>
        <img src="./images/tt03.jpg"  alt="Tarja Photo 003"/>
    </div>

    <div>
        <img src="./images/tt05.jpg"  alt="Tarja Photo 005"/>
    </div>
    
    


    
    <a href="/">Homepage</a><br/>
    <a href="/works">Works</a><br/>
    <a href="/about">About</a>

  </body>
</html>