<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" type="text/css" />
    <title>Works</title>
  </head>
  <body>
    <h1>Tarja Turunen Discografia</h1>

    <ul>
        <li>Angels Fall First (1997) - Nightwish</li>
        <li>Oceanborn (1998) - Nightwish</li>
        <li>Wishmaster (2000) - Nightwish</li>
        <li>Century Child (2002) - Nightwish</li>
        <li>Once (2004) - Nightwish</li>
        <li>End of an Era Ao Vivo (2008) - Nightwish</li>
        <li>My Winter Storm (2007) - Solo</li>
        <li>Once (2004) - Solo</li>
        <li>What Lies Beneath (2010) - Solo</li>
        <li>Colours in the Dark (2013) - Solo</li>
        <li>The Shadow Self (2016) - Solo</li>
        <li>In the raw (2019) - Solo</li>
    </ul>

    <a href="/">Homepage</a><br/>
    <a href="/about">About</a><br/>
    <a href="/gallery">Gallery</a>
  </body>
</html>